<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>College Database</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
  
  <style>
    /* Body background color */
    body {
      background-color: #D3D3D3; /* Light grey background */
    }

    /* Header styles */
    .header {
      background-color: #003366; /* Dark blue color */
      color: #ffffff; /* White text color */
      padding: 20px 0;
      text-align: center;
    }

    .header h1 {
      margin: 0;
      font-size: 2.5rem; /* Larger font size for the title */
    }

    .header p {
      margin: 0;
      font-size: 1.2rem; /* Font size for the subtitle */
    }
  </style>
</head>

<body>

  <header class="header">
    <h1>Indian Institute of Information Technology
      
    </h1>
  </header>

  <!-- Your content goes here -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT9XWQ2sfsn33xXZpZT2z06/TeH6cqV7abj64G9DqeMFO1zZBQ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-JZy8iEubT7e/p7ZJ8MMLgZmUraSM9EY0z6eB3u1FUn9X8uZB5xgqDQabN5V5p6+0" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdZQ8w6W9gD8VVAMEXUAs6e+I98bAIe6nQ4o8D8mX6h5Z5j" crossorigin="anonymous"></script>
</body>

</html>
